body {
  font-family: "Libre Baskerville", serif;
  align-items: center;
}

@media (max-width: 800px) {
  #gridContainer {
    padding: 2em;
  }
}

@media (min-width: 800px) {
  #gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "MarginLeft Column1 Column2 Column3 Column4 Column5 Column6 MarginRight";
    grid-gap: 2em;
    border-style: solid;
    border-color: red;
  }

  /*Grid item alignment options*/
  .spanAll {
    grid-column-start: MarginLeft;
    grid-column-end: MarginRight;
  }

  .spanContent {
    grid-column-start: Column1;
    grid-column-end: Column6;
    border-style: solid;
  }

  .threeLeft {
    grid-column-start: Column1;
    grid-column-end: Column4;
    border-style: solid;
  }

  .threeRight {
    grid-column-start: Column3;
    grid-column-end: Column6;
    border-style: solid;
  }

  .threeCentre {}
}

/*Dividing the Grid into three equal columns*/
.triadLeft {
  grid-column-start: Column1;
  grid-column-end: Column2;
  border-style: solid;
}

.triadCentre {
  grid-column-start: Column3;
  grid-column-end: Column4;
  border-style: solid;
}

.triadRight {
  grid-column-start: Column5;
  grid-column-end: Column6;
  border-style: solid;
}

/*Typography*/
p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

i {
  font-style: italic;
  ;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

h4 {
  font-size: 1.3rem;
}

mark {
  background: linear-gradient(45deg, #f3caf4, #caeaf7, #f3caf4);
}

hr {
  border: 0;
  height: 1px;
  background-color: #caeaf7;
}