body {
  font-family: "Libre Baskerville", serif;
  align-items: center;
}

@media (max-width: 800px) {
  #gridContainer {
    padding: 2em;
  }
}

@media (min-width: 800px) {
  #gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "MarginLeft Column1 Column2 Column3 Column4 Column5 Column6 MarginRight";
    grid-column-gap: 1rem;
    grid-row-gap: 0;
  }

  /*Grid item alignment options*/
  .spanAll {
    grid-column-start: MarginLeft;
    grid-column-end: MarginRight;
  }

  .spanContent {
    grid-column-start: Column1;
    grid-column-end: Column6;
  }

  .threeLeft {
    grid-column-start: MarginLeft;
    grid-column-end: Column3;
  }

  .threeRight {
    grid-column-start: Column4;
    grid-column-end: Column6;
  }

  .centred {
    grid-column-start: Column2;
    grid-column-end: Column5;
  }
}

/*Dividing the Grid into three equal columns*/
.triadLeft {
  grid-column-start: Column1;
  grid-column-end: Column2;
}

.triadCentre {
  grid-column-start: Column3;
  grid-column-end: Column4;
}

.triadRight {
  grid-column-start: Column5;
  grid-column-end: Column6;
}

/*Typography*/
p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

i {
  font-style: italic;
  ;
}

h1 {
  font-family: Futura, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

h4 {
  font-size: 1.3rem;
}

mark {
  background: #f3caf4;
}

hr {
  border: 0;
  height: 1px;
  background-color: red;
}

.divider {
  border-top: 1px solid;
}